<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="cordova-plugin-wxpay"
    version="1.0.0">

    <name>wxpayPlugin</name>
    <description>
        wxpay plugin
    </description>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/wxpayPlugin.js" name="wxpay">
        <clobbers target="wxpay"/>
    </js-module>

    <platform name="ios">
        <!-- wechatSDK -->
        <source-file src="src/ios/libWeChatSDK.a" framework="true" compiler-flags="-Objc -all_load"/>
        <header-file src="src/ios/WechatAuthSDK.h"/>
        <header-file src="src/ios/WXApi.h"/>
        <header-file src="src/ios/WXApiObject.h"/>

        <!-- 插件原生代码 -->
        <header-file src="src/ios/CDVWxpay.h" />
        <source-file src="src/ios/CDVWxpay.m" />
        <header-file src="src/ios/AppDelegate+CDVWxpay.h" />
        <source-file src="src/ios/AppDelegate+CDVWxpay.m" />

        <!-- 微信支付需要添加的框架 -->
        <framework src="SystemConfiguration.framework"/>
        <framework src="libz.dylib"/>
        <framework src="libsqlite3.0.dylib"/>
        <framework src="libc++.dylib"/>
        <framework src="Security.framework"/>
        <framework src="CoreTelephony.framework"/>
        <framework src="CFNetwork.framework"/>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLName</key>
                    <string>wechat</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>wxf098aeb935225004</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <config-file target="config.xml" parent="/widget">
            <feature name="CDVWxpay">
                <param name="ios-package" value="CDVWxpay" />
            </feature>
        </config-file>
    </platform>

    

</plugin>
